.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 6;
  padding: 48px 0;
}

.basicInfoUpperSection {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.basicInfoName {
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0px;
  color: #e3e8f0;
}

.basicInfoBio {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0px;
  color: #e3e8f0;
}

.basicInfoShortDescription {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #929fb1;
}
