.main {
  max-width: 1264px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 0 32px;
}

.information {
  flex: 6;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 64px 0;
}

.title {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0.15;
}

.bio {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
}

.shortDescription {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15;
}

.data {
  flex: 10;
  height: 100%;
  padding: 64px 0;
}

.sectionName {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15;
}

.sectionTitle {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15;
}

.sectionFullDescription {
  display: block;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25;
  color: var(--lightGray);
}

.sectionCard {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
}