.detailedInfo {
  gap: 32px;
  display: flex;
  flex-direction: column;
  flex: 10;
  overflow-y: auto;
  max-height: 100%;
  padding: 48px 0;
}

.detailedInfo::-webkit-scrollbar {
  display: none;
}

.detailedInfo {
  scrollbar-width: none;
}

.detailedInfo {
  -ms-overflow-style: none;
}
